<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>
<div class="footer-navigation">
    <div class="col-md-10 col-md-offset-1">
        <nav class="navbar">
            <ul class="navbar-nav navbar-default navbar-nav">
                <li class="home"><a aria-current="page" href="/">Home </a></li>
                <li class="home"><a href="/report">Report </a></li>
                <li class="contact"><a href="/contact">Contact </a></li>
                <li class="about"><a href="/about">About </a></li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>